# {{ ansible_managed }}
[duo]
{% for key in duo_config | sort %}
{% set val = duo_config[key] %}
{% if val == '' or val is undefined  %}
# {{ key }}
{% else  %}
{{ key }}={{ 'yes' if val is sameas true else ('no' if val is sameas false else val) }}
{% endif %}
{% endfor %}
